<div class ="container">
    <div class = "card">
        <h3 class="text-center"> Users List</h3>
        <div class = "card-body">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th> nom</th>
                    <th> prenom</th>
                    <th> adresse </th>
                    <th> telephone</th>
                    <th> email</th>
                    <th> username </th>
                    <th> password </th>
                </thead>
                <tbody>
                    <tr *ngFor = "let utilisateur of users">
                        <td> {{ utilisateur.id}}</td>
                        <td> {{ utilisateur.nom}}</td>
                        <td> {{ utilisateur.prenom}}</td>
                        <td> {{ utilisateur.adresse}}</td>
                        <td> {{ utilisateur.telephone}}</td>
                        <td> {{ utilisateur.email}}</td>
                        <td> {{ utilisateur.username}}</td>
                        <td> {{ utilisateur.password}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
